<!DOCTYPE html>
<html lang="es-MX">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/valida_pub/index.css">
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>QR-SIFC</title>
</head>

<body>

</body>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img class="logo" src="../assets/valida_pub/logo.jpg" alt="IEA">
    </div>
    <div class="col-6" style="text-align: center">
      <b>
        Sistema Integral de Formación Continua
      </b>
      <b>
        Consulta Código QR
      </b>
    </div>
  </div>
  <!--<div class="alert alert-danger" role="alert">
    <b>No se pudo validar el documento.</b>
  </div>-->
  <div class="col" ng-if="!consultando">
    <div class="header"><b>Datos del Participante</b></div>
    <div class="info">
      <p><b>Primer Apellido:</b> <%= registro.usuario.primer_apell%> </p>
      <p><b>Segundo Apellido:</b> <%= registro.usuario.segundo_apell%></p>
      <p><b>Nombre(s):</b> <%= registro.usuario.nombre%></p>
      <p><b>CURP:</b> <%= registro.usuario.usuario%></p>
    </div>
    <div class="header"><b>Institución Formadora</b></div>
    <div class="info">
      <p><b>Denominación:</b> <%= registro.oferta_formacion.institucion_formadora.nombre%></p>
    </div>
    <div class="header"><b>Oferta Cursada</b></div>
    <div class="info">
      <p><b>Nombre:</b> <%= registro.oferta_formacion.nombre_curso[0]%></p>
      <p><b>Tipo:</b> <%= registro.oferta_formacion.tipo_oferta.descripcion%></p>
      <p><b>Duración:</b> <%= registro.oferta_formacion.tipo_oferta.horas%> hrs.</p>
      <p><b>Modalidad:</b> <%= registro.oferta_formacion.modalidad.nombre%></p>
    </div>
    <p>**Esta información no sustituye a la constancia y se presenta sólo con fines de validación de la misma.</p>
  </div>
</div>

</html>
